{% extends "base.html" %}

{% block title %}
StudySync-Edit Note
{% endblock %}

{% block content %}

<div class="page-container">

    <div class="page-header">
        <h1>Edit Notes</h1>
        <p>Add something you forgot.</p>
    </div>

    <form method="POST" class="page-form">
        <input type="text" name="title" value="{{ note[2] }}" placeholder="Title" required>
        <textarea name="content" placeholder="Write your notes here..." required>{{ note[3] }}</textarea>
        <button class="btn">Save Changes</button>
    </form>

</div>

{% endblock %}
