{% extends "base.html" %}

{% block title %}
Login - StudySync
{% endblock %}

{% block content %}

<div class="page-container">
    <section class="hero">
        <h1>Welcome Back!</h1>
        <p>Login to continue your study journey.</p>

        <div class="auth-container">
            <form method="POST">
                <input type="email" name="email" placeholder="Enter your email" required>


                <input type="password" name="password" placeholder="Enter your password" required>


                <button class="btn">Login</button>
            </form>
        </div>

        {% if email %}
        <h2>Welcome, {{ email }}!</h2>
        {% endif %}

    </section>
</div>

{% endblock %}