{% extends "base.html" %}

{% block title %}
StudySync-Notes
{% endblock %}

{% block content %}


<section class="hero">
    <div class="page-container">
        <h1>My Notes</h1>
        <p>Create and manage your study notes.</p>

        <form method="POST" class="page-form">

            <input type="text" name="title" placeholder="Title" required>
            <textarea name="content" placeholder="Write your note here..." rows="6" required></textarea>
            <button class="btn">Add Note</button>

        </form>

        <hr>
        <h2>Your Notes</h2>

        {% if notes %}
            {% for note in notes %}

            <div class="page-card">
                <h3>{{ note[2] }}</h3>
                <p>{{ note[3] }}</p>
                <a href="/edit_note/{{ note[0] }}" class="btn">Edit</a>
                <form method="POST" action="/delete_note/{{ note[0] }}">
                    <button class="btn">Delete</button>
                </form>
            </div>

            {% endfor %}
        {% else %}
            <p>You haven't created any notes yet.</p>
        {% endif %}
    </div>
</section>



{% endblock %}